$main-color: #9fa8a3;
$color1: #9fa8a3;
$color2: #e3e0cf;
$color3: #edd9c0;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
    padding: 50px;
    background-color: $main-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    width: 500px;
    h1 {
        color: gray;
        margin-left: 100px;
    }
}


.todoListMain {
    width: 500px;

    .todoForm {
        input {
            padding: 10px;
            font-size: 16px;
            border: 2px solid #FFF;
            width: 225px;
            border-radius: 5px;
        }
        button {
            padding: 10px;
            font-size: 16px;
            margin: 10px;
            margin-right: 0px;
            border-radius: 5px;
            background-color:$color2;
            color: #333;
            border: 2px solid $color2;
            &:hover {
            background-color: $color3;
            border: 2px solid $color3;
            cursor: pointer;
            }
        } 
    }
    .todoList {
        list-style: none;
        color: red;
        padding-left: 0;
        width: 250px;
        
        li {
            color: #333;
            background-color: rgba(255, 255, 255, .5);
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 5px;
            list-style: none;
            transition: background-color 1s ease-out;
            &:hover {
            background-color: $color3;
            cursor: pointer;
            }
        }
    }

}